@import url('https://fonts.googleapis.com/css2?family=Raleway');

html, body{
  height: 100%
}

body {
  font-family: 'Raleway';
  font-weight:200;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-size:smaller;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgba(13,58,33,0.3);
}

.table-back-color{
  background-color: #e1e1ff;
}


hr { display: block; height: 3px;
  border: 0; border-top: 3px solid #0d1c21;
  margin: 1em 0; padding: 0; }

.infocard-container {
  height: 70vh;
}

.infocard {
  border-radius:7px;
  color:black;
}

.nicedarkbluebackground {
  background-color: rgb(4, 13, 9)
}

.nicedarkbluesea {
  background-color: #0c5460;
}


.maxrelh {
  position:relative;
  height:100%;
}

.coolbluetxt {
  color: rgb(52,58,64);
}

.colorA {
  background-color: rgb(62,103,63);
}

.colorB {
  background-color: rgb(103,63,62);
}

.colorC {
  background-color: rgb(63,62,193);
}

.colorD {
  background-color: rgb(103,103,62);
}


.no_margin{
  margin:0px !important;
}

#header .dropdown-menu {
  background-color: rgb(4,13,9);
  border: solid rgb(54,63,59) 1px;
}

#footer .dropdown-menu {
  border: solid rgb(54,63,59) 1px;
  background-color:rgb(4,13,9);
}

.Appbackground {
  background-color: rgb(4,13,9);
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a {
  background-color: rgb(4,13,9);
}

.sub-menu {
  position: relative;
}
.sub-menu span.glyphicon {
  font-size: 0.7em;
}
.sub-menu:hover .dropdown-menu {
  display: block;
  top: 0;
  left: 100%;
}

.dropdown-item-hover {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit; 
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-hover:hover{
  color:white;
  text-decoration: underline;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  width:100%;
  padding:0px;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Style page content */
.mainnav {
  padding: 0 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 95%;
  margin-top: -1px;
}

.tooltip > .tooltip-inner {
  background-color:#1858d0;
  color: #000;
  font-size: 80%;
  padding:0;
  margin:0;
  border: 1px solid  rgb(10, 31, 22);
  text-align:center;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #1858d0 !important;
}

.Appbackgroundcolor{
  background-color:#1858d0;
}

.btn.menubutton{
  background-color:rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  color: #ffffff;
}

.btn.menubutton:hover{
  background-color:#b5cddc;
  color: #222222;
}

.dropdown-item-hover a.dropdown-item-hover:hover{
  text-decoration:underline;
  text-decoration-color:#b5cddc;
}

.btn.Appbackgroundcolor{
  background-color:#d05218;
}

a.span:hover {
  text-decoration-color:#b5cddc;
}

.Apptextcolor{
  color:#1858d0;
}

.btn.mainbutton{
  border-color: #1858d0;
}

.linktext{
  color: #ffffff;
}

.linktext:hover{
  color: #b5cddc;
  text-decoration-color:#b5cddc;
}

.iconlink i{
  color: #ffffff;
}

.iconlink i:hover{
  color: #1858d0;
  transform:scale(1.1,1.1);
  transform-origin:-0.05 -0.05;
}

.dropdown-menu a:hover{
  color: #b5cddc !important;
}

.dropdown-item-hover{
  color: #ffffff;
}

.dropdown-item-hover:hover{
  color: #1858d0;
}

.navbar-brand img {
  height:45px;
}

.navbar-brand img:hover{
  height:40px;
}

#servicesCarrousel .carousel-inner>.item {
  -webkit-transition: -webkit-transform 1.6s ease-in-out !important;
  -o-transition: -o-transform 1.6s ease-in-out !important;
  transition: transform 1.6s ease-in-out !important;
}

#newsCarrousel .carousel-inner>.item {
  -webkit-transition: -webkit-transform 0.3s ease-in-out !important;
  -o-transition: -o-transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
}

#societyCarrousel .carousel-inner>.item {
  -webkit-transition: -webkit-transform 1.0s ease-in-out !important;
  -o-transition: -o-transform 1.0s ease-in-out !important;
  transition: transform 1.0s ease-in-out !important;
}

.spacedlink{
  padding-top:2vh;
  padding-bottom:2vh;
}

.zoom{
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fullrow {
  float: left;
  clear: left;
}

.spanH { position:relative }
.spanHinner { position:absolute; top:50%; height:10em; margin-top:-5em }

.mainmenuitem {display: inline-block }

#header{
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
  position:fixed;
}

#footer{
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  position:fixed;
}

#wrapper { padding-top:72px;}

@media (min-width: 768px) {
  #wrapper { padding-top:24px;}
}

#addpanel {
  max-height: 50vh !important;
  height:200px;
}


#wrapper{
  height:68vh;
}

#ChatTop{
  display:none;
}

section {
  height: 100vh;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #wrapper { padding-top:24px;}

  section {
    height: 80vh;
  }

  .chatbutton{
    right: 0;
    bottom: 0;
    z-index: 1030;
    position:fixed;
  }

  div.scrollmenu {
    height: auto;
    max-height: 50vh !important;
    overflow-y: auto;
    position: relative;
    }

    .dropdown-menu.show{
      position:absolute;
      background: red;
      display:block;
    }


}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .chatbutton{
    position: fixed;
    z-index: 1030;
    right: 15px;
    bottom: 34px;
  }

  section {
    height: 80vh;
  }

  #ChatTop{
    display:block;
  }

}

.dropright .dropright .show{
  border-color: white;
}

div.dropdown-menu.show::before {
  border-color: red;
}

.visualzone {
  vertical-align: bottom;
  bottom: 0;
}

a.infolink{
  color: unset;
  text-decoration: unset;
  background-color: unset;
}

a.infolink:hover{
  color: unset;
  text-decoration: unset;
  background-color: unset;
}

.nomouse {
pointer-events: none
}

.allowmouse {
  pointer-events: all
}

.closablediv {
  position:absolute;
  border: solid rgb(54,63,59) 1px;
  background-color: rgb(4,13,9);
  border-radius: 7px;
}


.closebutton {
  height:16px;
  background-color:red;
  width:16px;
  border-radius:3px;
  position: absolute;
  top:0;
  right:0;
  z-index:1020;
  cursor: pointer;
}
.closebutton i {
  position: absolute;
  font-weight:bolder;
  color:white;
}

.showcursor{
  cursor: pointer;
}

.highpadding{
  padding-top:18vh;
  padding-left:5vh;
}

.leftpanelpadding{
  padding-top:14vh;
  padding-left:8vh;
  padding-right:18vh;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins');

.copperplate { 
  font-family: 'Poppins';
  font-weight:400;
  font-variant: small-caps;
}

.App-brand img {
  float: left;
}

.App-brand {
  display: inline-block;
  vertical-align: middle;
}

.App-brand span {
  position: relative;
  color: #d09518;
  float: right;
}

.App-brand:hover {
  transform:scale(1.1,1.1);
  transform-origin:-0.05 -0.05;
}

.App-brand:hover > h6 {
  text-decoration:underline;
  text-decoration-color:#1858d0;
}

.bootstrap-override.dropdown-item{
  display:initial !important;
  padding: 0 !important;
  color:unset;
}

.bootstrap-override.dropdown-item:hover{
  background-color:unset;
  text-decoration:unset;
  color:unset;
}

.backgroundsectionimg{
  max-height:100vh;
}

.Appsectioncolor{
  background-color: rgb(0,6,5);
}

.AppsectioncolorB{
  background-color: rgb(10, 22, 31);
}

.AppTextColorA{
  color: rgb(114,201,255);
}

.AppTextColorC{
  background-color: rgb(114,201,255);
}

.niceitalic{
  font-weight: 400;
  font-style: italic;
}

.multipanel{
  background-color: rgb(4,13,9);
  border: solid rgb(8, 26, 18) 1px;
  min-height:180px;
}

.multipanel:hover{
  cursor: pointer;
  background-color: rgb(10, 31, 22);
}

.multipanel:hover figcaption{
    color: #1858d0;
}

.multipanel:hover figure{
  transform:scale(1.1,1.1);
  transform-origin:-0.05 -0.05;
}

.normaltext{
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.8;
}